.account-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.app-title {
  font-weight: 600;
  font-size: 18px;
  color: #0e0000;
}

.spacer {
  flex: 1 1 auto;
  color: #0e0000;
}

