<mat-toolbar color="primary" class="account-toolbar">
  <span class="app-title">Tankolásnapló</span>

  <button mat-icon-button (click)="toggleTheme()" aria-label="Téma váltás">
    <mat-icon>{{ isDark ? 'light_mode' : 'dark_mode' }}</mat-icon>
  </button>
  <span class="spacer"></span>

  <button class="menu" mat-button [matMenuTriggerFor]="menu" >
    Fiók – {{ auth.getName() }}
    <mat-icon>arrow_drop_down</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="'cars'">
      <mat-icon>directions_car</mat-icon>
      <span>Autóim</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Kijelentkezés</span>
    </button>
  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>
