<mat-toolbar color="primary" class="account-toolbar" style="background-color: #e5e7f0">
  <span class="app-title">Tankolásnapló</span>

  <span class="spacer"></span>

  <button mat-button [matMenuTriggerFor]="menu" >
    Fiók – {{ auth.getName() }}
    <mat-icon>arrow_drop_down</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="'cars'">
      <mat-icon>directions_car</mat-icon>
      <span>Autóim</span>
    </button>
    <button mat-menu-item [routerLink]="'stats'">
      <mat-icon>bar_chart</mat-icon>
      <span>Statisztikák</span>
    </button>
    <button mat-menu-item [routerLink]="'calculator'">
      <mat-icon>calculate</mat-icon>
      <span>Kalkulátor</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Kijelentkezés</span>
    </button>
  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>
