/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-mdc-text-field-wrapper {
  background-color: #ffffff !important;
}

mat-card, mat-toolbar {
  background-color: #efefef !important;
}

.carLink:hover {
  text-decoration: underline;
  cursor: pointer;
}

.carLink {
  display: inline-block;
  padding-bottom: 10px;
}



